lombok.accessors.fluent=true
lombok.addLombokGeneratedAnnotation=true

# Evil
lombok.sneakyThrows.flagUsage=error

# Java's var keyword does this now
lombok.val.flagUsage=error
lombok.var.flagUsage=error

# Generally avoid adding new uses of Lombok
lombok.accessors.flagUsage=error
lombok.cleanup.flagUsage=error
lombok.data.flagUsage=error
lombok.getter.flagUsage=error
lombok.helper.flagUsage=error
lombok.jacksonized.flagUsage=error
lombok.locked.flagUsage=error
lombok.log.flagUsage=error
lombok.nonNull.flagUsage=error
lombok.setter.flagUsage=error
lombok.synchronized.flagUsage=error

# We use these ones though...

# These generate code that scales with the number of fields.
# They're more than mere conveniences: they increase the expressive power of Java
# in the sense that O(1) code takes the place of O(n) boilerplate.
#lombok.builder.flagUsage=error
#lombok.delegate.flagUsage=error
#lombok.experimental.flagUsage=error # delegate is experimental
#lombok.with.flagUsage=error

# In a few places, we use inner classes that could otherwise be records
#lombok.value.flagUsage=error
